export PAD="    "

export N_BEST_SOLAR=1
export N_BEST_HMSFRS=3

export N_MAX_SOLAR=6
export N_MAX_HMSFRS=8
export N_MAX_SOLAR_SC=$((N_BEST_SOLAR + 1))

export INPUT="data/input"
export I_ALL="${INPUT}/all.dat"
export I_SOLAR="${INPUT}/near_the_solar_circle.dat"
export I_SOLAR_SC="${INPUT}/near_the_solar_circle_2.dat"
export I_HMSFRS="${INPUT}/hmsfrs.dat"
export I_HMSFRS_OPTIMAL="${INPUT}/hmsfrs_optimal.dat"
export I_HMSFRS_TEST="${I_HMSFRS}"
export I_VERA_REID="${INPUT}/vera_reid.dat"

export RESULTS="results"
export R_ALL="${RESULTS}/All"
export R_SOLAR="${RESULTS}/Near the solar circle"
export R_SOLAR_DI="${RESULTS}/Near the solar circle (disabled inner optimization)"
export R_SOLAR_SC_1="${RESULTS}/Near the solar circle (self-consistency check, iter 1)"
export R_SOLAR_SC_2="${RESULTS}/Near the solar circle (self-consistency check, iter 2)"
export R_HMSFRS="${RESULTS}/HMSFRs"
export R_HMSFRS_OPTIMAL="${RESULTS}/HMSFRs (optimal sample, disabled inner optimization and outliers checks)"
export R_HMSFRS_TEST="${RESULTS}/HMSFRs (Test)"
export R_HMSFRS_DI="${RESULTS}/HMSFRs (disabled inner optimization)"
export R_VERA_REID="${RESULTS}/VERA vs. Reid"

export PMG="./target/release/pmg"
export JULIA="./julia.bash"
export COMPARE="scripts/compare.jl"
export PROJECTIONS="scripts/projections.jl"
export ROTCURVE="scripts/rotcurve.jl"
export FIT_ROTCURVE="scripts/fit_rotcurve.jl"
export PROFILES="scripts/profiles.jl"
export INNER_PROFILES="scripts/inner_profiles.jl"
export N="scripts/n.jl"
export ODD_OBJECTS="scripts/odd_objects.jl"
export PARALLAXES="scripts/parallaxes.jl"

use flake
